<%= link_to 'Search By ZipCode', zip_code_stories_path %></td>
<h1>Listing stories</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Photo</th>
      <th>Video</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stories.each do |story| %>
      <tr>
        <td><%= story.first_name %></td>
        <td><%= story.last_name %></td>
        <td><%= story.email %></td>
        <td><%= image_tag story.image.url(:square) if story.image? %></td>
        <% if story.video_link? %>
          <td>
            <div class="yt_video thumbnail">
              <a href="">
                <img src="https://img.youtube.com/vi/<%= story.video_uid %>/mqdefault.jpg" class="yt_preview img-rounded" alt= '<%= story.first_name %>' data-uid= 'stroy.video_uid'>
              </a>
            </div>
          </td>
        <% end %>
        <td><%= link_to 'Show', story %></td>
        <td><%= link_to 'Edit', edit_story_path(story) %></td>
        <td><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Story', new_story_path %>
